.a-team-logo {
    max-height: 70px;
    max-width: 85px;
    float: right;
    
}

.informationArea {
    height: 36vh;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
    background-color: rgba(175, 2, 2, 0.842);
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
    border-color: black;
}

.charImg {
    width: auto;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.cardDisplay {
    height: 300px;
}

.cardHidden {
    display: none;
}

.no-wrap {
    
    overflow-x: none;
    display: inline !important;
    clear: none !important;
}

.bottomDiv {
    height: 65vh;
    margin-top: 0;
}

.sidenavLeft {
    max-width: 20vw;
    height: 100%;
    float: left;
    background-color: white;
    border-right:solid;
    padding: 1vh 2vh 1vh 2vh;
}

.wrapper {
    padding-left: 300px;
}


.gameplayCanvas {
    height: 50vh;
    margin-top: 2vh;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(175, 2, 2, 1), 4px 4px 14px black;
    
}

.bottomCont {
    width: 90vw !important;
    
}

.hiddenImage {
    display: none !important;
}

.charInfoArea {
    width: 20vw;
    float: left;
    display: block;
}
.charInfoArea>h2 {
    max-width: 20vw;
    font-size: 20px;
}

#startBtn {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(175, 2, 2, 1); 
}

.floatRight {
    margin-right: 2vw;
    display: flex !important;
    align-self: right;
    direction: rtl !important;
}

.floatLeft {
    float: left;
}

.customButtonDiv>li:first-child {
    line-height: 5vh !important;
    margin-top: 3vh !important;
    
}
.customButtonDiv>li:nth-child(n+3) {
    padding-top: 2.5vh !important;
    -webkit-break-after: always !important;
    line-height: 5vh !important;
}
